<!DOCTYPE html>
{% load static %}
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Shaxsiy Kabinet - EduHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/style.css'%}">
</head>
<body>

<div class="topbar">EduHub - Shaxsiy Kabinet</div>

<div class="container">
    <h2>Salom, {{ user.username }}!</h2>

    <div class="info"><span class="label">Email:</span> {{ user.email }}</div>
    <div class="info"><span class="label">Telefon raqam:</span> {{ user.phone_number }}</div>

    <a href="{% url 'logout' %}" class="logout-btn">Chiqish</a>
</div>

</body>
</html>
