<!DOCTYPE html>
{% load static %}
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Kirish - EduHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css'%}">
</head>
<body>

<div class="login-container">
    <h2>EduHub - Kirish</h2>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="phone_number" placeholder="Telefon raqamingiz" required>
        <input type="password" name="password" placeholder="Parol" required>
        <button type="submit">Kirish</button>
    </form>

    <div class="bottom-text">
        Hisobingiz yo‘qmi? <a href="{% url 'register_page' %}">Ro‘yxatdan o‘ting</a>
    </div>
</div>
</body>
</html>
