<!DOCTYPE html>
{% load static%}
<html lang="uz">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RoboDev - Onlayn Ta'lim Platformasi</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}"/>
</head>
<body>
<header class="navbar">
    <div class="logo">
        <span>RoboDev</span>
    </div>
    <nav class="nav-links">
        <a href="#">Kurslar</a>
        <a href="#">Darsliklar</a>
        <a href="#">Fikrlar</a>
        <a href="#">Yangiliklar</a>
    </nav>
    <a href="{% url 'login' %}" class="login-button">Kirish</a>
</header>

<main class="hero-section">
    <div class="hero-text">
        <p class="subtitle">RoboDev ONLAYN TA’LIM PLATFORMASI</p>
        <h1>Dasturlashga o’rgatamiz</h1>
        <a href="#" class="cta-button">O’qishni boshlash</a>
    </div>
</main>
<section class="stats-section">
    <div class="stats-text">
        <h2>Bizning raqamlar</h2>
        <p>RoboDev orqali minglab o'quvchilar zamonaviy IT kasblarini egallashdi.</p>
    </div>
    <div class="stats-cards">
        <div class="stat-card">
            <h3>{{ lessons_count }}+</h3>
            <p>Darsliklar</p>
        </div>
        <div class="stat-card">
            <h3>{{ courses_count}}+</h3>
            <p>Online kurslar</p>
        </div>
        <div class="stat-card">
            <h3>{{ teachers_count}}+</h3>
            <p>Ustozlar</p>
        </div>
    </div>
</section>
<section class="eduhub-why-section">
    <div class="why-text">
        <h2>RoboDev jamoasi</h2>
        <p class="why-question">Nima uchun RoboDev’da<br/> o‘qish kerak?</p>
        <a href="#" class="cta-button">Batafsil</a>
    </div>
</section>
<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>RoboDev</h3>
            <p>Zamonaviy onlayn ta’lim platformasi.</p>
            <address class="footer-address">
                Address: Amir Temur ko‘chasi 12, Toshkent,<br>
            </address>
        </div>

        <div class="footer-column">
            <h4>Foydali</h4>
            <ul>
                <li><a href="#">Kurslar</a></li>
                <li><a href="#">Ustozlar</a></li>
                <li><a href="#">Bitiruvchilar</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Platforma</h4>
            <ul>
                <li><a href="#">Biz haqimizda</a></li>
                <li><a href="#">Yordam</a></li>
                <li><a href="#">Savollar</a></li>
                <li><a href="#">Shartlar</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Biz bilan bog‘laning</h4>
            <div class="social-icons">
                <a href="#"><i class="fab fa-telegram"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 RoboDev. Barcha huquqlar himoyalangan.</p>
    </div>
</footer>
</body>
</html>
