body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f8fbff;
  color: #222;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fff;
  position: static; /* navbar endi scroll bilan pastga tushadi */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.logo span {
    color: #09e927;
}
.nav-links {
  display: flex;
  margin-left: auto; /* bu yerda mo'jiza */
}
.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.login-button {
  padding: 10px 20px;
  background: #09e927;
  color: #fff;
  border-radius: 12px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #09e927;
}
/* Hero */
.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 90px 0px;
  align-items: center;
  background: linear-gradient(to right, #08cc49, #35f323);
  border-radius: 20px;
  margin: 30px;
  margin-bottom: 24px;
}

.hero-text {
  max-width: 600px;
  margin-left: 25px;
}

.subtitle {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
}

h1 {
  font-size: 42px;
  margin: 20px 0;
  color: #ffffff;
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background: #fdfeff;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.2);
}

.stats-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 80px;
  background: #f4faff;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

.stats-text {
  flex: 1;
  min-width: 250px;
}

.stats-text h2 {
  font-size: 28px;
  margin-bottom: 12px;
}

.stats-text p {
  color: #444;
  font-size: 25px;
}

.stats-cards {
  display: flex;
  flex: 2;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.stat-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.1);
  padding: 20px 30px;
  text-align: center;
  font-size: 19px;
  flex: 1;
  min-width: 150px;
}

.stat-card h3 {
  font-size: 25px;
  color: #15fd00;
  margin-bottom: 8px;
}

.stat-card p {
  font-size: 25px;
  color: #15fd00;
}

.eduhub-why-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #08cc49, #35f323);
  padding: 60px 80px;
  margin-top: 60px;
  border-radius: 16px;
  gap: 40px;
  flex-wrap: wrap;
}

.why-text {
  flex: 1;
  min-width: 280px;
}

.why-text h2 {
  font-size: 18px;
  color: #000000;
  margin-bottom: 12px;
}

.why-question {
  margin-top: 10px;
  font-size: 35px;
  color: #000000;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background: #38d408;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}

.cta-button:hover {
  background: #5b9e3c;
}

.why-image img {
  width: 250px;           /* oldin 280px edi */
  height: 250px;
  border-radius: 16px;
}

.site-footer {
  margin-top: 20px;
  background-color: #47862a;
  color: #f1f1f1;
  padding: 60px 20px 20px;
  font-family: 'Segoe UI', sans-serif;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h3,
.footer-column h4 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-column p,
.footer-column a {
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}

.footer-column a:hover {
  color: #0bec3c;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.social-icons a {
  font-size: 20px;
  margin-right: 10px;
  color: #ccc;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #0bec3c;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #ffffff;
  margin-top: 40px;
  padding-top: 20px;
  font-size: 13px;
  color: #ffffff;
}
.footer-address {
  margin-top: 16px;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
  line-height: 1.6;
}