* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #047529, #47862a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

.register-container h2 {
  text-align: center;
  color: #1e293b;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 16px;
}

input:focus {
  border-color: #47862a;
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

button {
  padding: 12px;
  background-color: #47862a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #09e927;
}

.messages {
  margin-bottom: 20px;
  color: red;
  font-size: 14px;
}

.bottom-text {
  text-align: center;
  font-size: 14px;
  color: #64748b;
  margin-top: 20px;
}


